.search-form {
  border-radius: 20px !important;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(41, 41, 41, 0.1);
}

.search-form::placeholder {
  color: #b8b8b8 !important;
}

.search-form-with-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  background-position: 10px;
  padding-left: 35px !important;
}

.form-btn {
  border-radius: 20px !important;
  background-color: #489645 !important;
  border-color: #489645 !important;
}

.form-btn:hover {
  border-radius: 20px !important;
  background-color: white !important;
  border-color: #489645 !important;
  color: #489645 !important;
}

.default-category,
.default-product {
  color: #b8b8b8 !important;
}

.announcement-element {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(41, 41, 41, 0.1);
  cursor: pointer;
}

.announcement-element:hover {
  background-color: #eeeeee;
  transition: 0.3s;
}

.announcement-element img {
  width: 80%;
}

.description {
  font-size: medium;
  padding: 10px;
}
.description .title {
  font-size: x-large;
}
