.selected-product {
  display: inline;
  background-color: white;
}

.selected-product {
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  margin-right: 10px; /* Dodatkowy margines między elementami */
  padding: 8px;
  border-radius: 25px;
  color: rgb(167, 167, 167);
}

.selected-product p,
.selected-product i {
  margin: 0;
}

.recipe-box {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(41, 41, 41, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  height: 170px;
}

.recipe-box:hover {
  background-color: #eeeeee;
}

.description {
  font-size: medium;
  padding: 10px;
}

.description .title {
  font-size: x-large;
}

.img-recipe-box {
  margin-left: auto;
}

.img-recipe-box img {
  height: 135px;
}

.white-box {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(41, 41, 41, 0.1);
  height: 100%;
}

.recipe-img {
  max-width: 300px;
}

.have-info {
  margin-left: 20px;
  color: green;
}

.not-have-info {
  margin-left: 20px;
  color: rgb(201, 8, 8);
  text-decoration: underline;
}

.heart {
  cursor: pointer;
}

.product-amount {
  padding: 5px;
  background-color: rgb(183, 245, 183, 0.5);
  border-radius: 10px;
}

td,
th {
  padding-top: 5px; /* Dostosuj wartość według preferencji */
  padding-bottom: 5px; /* Dostosuj wartość według preferencji */
}
