.form-bg {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(41, 41, 41, 0.1);
}

.img-box,
.datetime-box {
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
}

.show-map p {
  text-decoration: underline;
  cursor: pointer;
}

.address-box-announcement {
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  border: 2px solid rgb(202, 202, 202, 0.3);
  cursor: pointer;
}

.address-box-announcement p {
  font-size: small;
  margin: 5px;
}

.text-transparent {
  color: rgba(0, 0, 255, 0);
}
